<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main h-screen w-full bg-slate-200 flex shrink-0 items-center justify-center">
        <div class="lg:h-[35%] lg:w-[27%] md:h-[35%] md:w-[33%] h-[50%] w-[90%] bg-white shadow-xl rounded-lg flex flex-col items-center justify-center text-wrap px-10">
            <h1 class="text-3xl font-bold text-center">Welcome to Omegle Clone</h1>
            <a href="/chat" class="w-full bg-gradient-to-r from-[#2E236C] to-[#17153B] text-center py-2 px-4 rounded-lg hover:bg-gradient-to-r hover:from-[#478CCF] hover:to-[#4535C1] text-white font-semibold mt-5">Start Chat</a>
        </div>
    </div>
</body>
</html>